/*
  authors:  Caroline Haller
            Manfred Moosleitner
 */

@import "global";

body{
  overflow-y: auto;
  overflow-x: hidden !important;
}

ul {
  padding-inline-start: 0;

  li {
    list-style-type: none;
  }

}

text {
  transition: all 0.1s;

  &:hover {
    /*font-weight: bold;*/
    cursor: pointer;
  }

}

.li_video {
  display: flex;
}

.li_sub {
  float: left;
}


#div_video {
  margin: 2px;
}

#div_wordcloud {
  border-radius: 25px;
  margin: 2px;
}

#div_selectarea {
  overflow: auto;
  min-height: 600px;
  border-radius: 25px;
  margin: 2px;
}

.div_listitem {
  padding: 5px;
  margin: 2px;
  border: 1px solid #05f0d0;
  border-radius: 13px;
  cursor: pointer;
  /*background-color: white;*/
  color: #05f0d0;
  flex-grow: 100;

  .movie {
    flex-grow: 100%;
  }

  &:hover {
    /*background-color: #DDDDDD;*/
  }
}

.movie {
  text-align: center;
}

.playarrow {
  float: left;
  color: #05f0d0;
}

.video_title {
  font-size: 1.2em;
}
